{{template "base" .}}

{{define "content"}}

<!-- ======= Hero Section ======= -->
  <section id="" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

    <main id="main">
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <br>
          <p>About Us</p>
        </div>
      </div>

      
    </section><!-- End Contact Section -->
      <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
              <img src="/static/public/assets/img/about.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <p class="fst-italic">
              Villa Sarto started offering accommodation in Belgrade back in 2007 and has since continued to grow and offer more rooms and amenities, now offering 12 rooms and 1 mini suite. It is a small, family-run business, and the father/son team may even be the ones to personally welcome you for your stay.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> All of our rooms contain a hallway, own bathroom, cable TV, phone, AC, WiFi, and a mini-fridge. The rooms are modern, stylish and comfortable.</li>
              <li><i class="bi bi-check-circle"></i> All of the beds are equipped with the highest quality latex mattresses and pillows (<a href="https://www.latex.rs/">latex.rs</a>), already known as the most comfortable sleeping surface.</li>
              <li><i class="bi bi-check-circle"></i> The suite also offers a modern spa bath and a roomy balcony overlooking the grasslands, offering the perfect escape from the hustle and bustle of the city.</li>
              <li><i class="bi bi-check-circle"></i> The rooms are spread over 2 floors, while on the ground floor you will find our friendly staff in the Cafe Bar, and the adjoining breakfast room, available to serve you from 7am-10pm.</li>
              <li><i class="bi bi-check-circle"></i> We are happy to offer safe, on-site, storage for your bicycle. The property also has sufficient parking for our motorized visitors. All parking/bike storage is complimentary and included in the price of your stay.</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
 

  </main><!-- End #main -->
{{end}}