{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-3">About Hotel Villa Sarto</h1>
            <hr>
            <p>
                <img style="float: right; display: inline-block; max-width: 400px; padding: 5px;" src="/static/images/poc1.jpg">

                Hotel Villa Sarto is 9 km from the center of Belgrade. All distances are measured in straight lines. Actual travel distances may vary.

            </p>
            <p>
                Hotel Villa Sarto offers the following activities/services (charges may apply):
                <ul>
                    <li>Casino</li>
                    <li>Live sports events (broadcast)</li>
                </ul>  
            </p>
            <p>
                The prices at Hotel Villa Sarto may vary depending on your stay (e.g. dates, hotel's policy etc.). To see prices, enter your dates.
            </p>
            <p>
                Check-in at Hotel Villa Sarto is from 2:00 PM, and check-out is until 12:00 PM.
            </p>
            <p>
                Hotel Villa Sarto has 1 restaurant:
                <ul>
                    <li>Restaurant #1</li>
                </ul> 
            </p>
            <p>
                Room options at Hotel Villa Sarto include:
                <ul>
                    <li>Double</li>
                    <li>Twin</li>
                    <li>Triple</li>
                    <li>Quad</li>
                </ul> 
            </p>
            </div>
        </div>
    </div>
{{end}}