{{template "base" .}}

{{define "content"}}

    <div class="row featurette" style="padding: 3%">
        <div class="col-md-7" align="left">
            <h1>About Hotel Villa Sarto  </h1>
            <h2 class="text-muted">Smart Choice Of Accommodation in Belgrade</h2>
            <div class="entry-content clearfix" style="padding: 2% 0 0 0">

		            <p>Villa Sarto started offering accommodation in Belgrade back in 2007 and has since continued to grow and offer more rooms and amenities, now offering 12 rooms and 1 mini suite. It is a small, family-run business, and the father/son team may even be the ones to personally welcome you for your stay.</p>
                    <p>All of our rooms contain a hallway, own bathroom, cable TV, phone, AC, WiFi, and a mini-fridge. The rooms are modern, stylish and comfortable. All of the beds are equipped with the highest quality latex mattresses and pillows (<a href="https://www.latex.rs/">latex.rs</a>), already known as the most comfortable sleeping surface.</p>
                    <p>Besides the already listed inclusions, the suite also offers a modern spa bath and a roomy balcony overlooking the grasslands, offering the perfect escape from the hustle and bustle of the city.</p>
                    <p>The rooms are spread over 2 floors, while on the ground floor you will find our friendly staff in the<br>
                    Cafe Bar, and the adjoining breakfast room, available to serve you from 7am – 10pm. In the neighboring spaces, there is a SLOT CLUB open 24 hours a day.</p>
                    <p>Considering that we are located on the EuroVelo route, besides comfortable accommodation for you, we are happy to offer safe, on-site, storage for your bicycle. The property also has sufficient parking for our motorized visitors. All parking/bike storage is complimentary and included in the price of your stay.</p>
                    <p>Our motto is ‘A happy guest is the only measure of success’</p>
                    <p>We hope to greet you soon at Villa Sarto Belgrade.</p>
			</div>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/700x500/auto" alt="700x500" style="width: 700px; height: 500px;" src="/static/images/poc1.jpg" data-holder-rendered="true">
        </div>
    </div>
{{end}}