{{define "base"}}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hotel, Villa Sarto</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/static/public/assets/img/favicon.png" rel="icon">
    <!--<link href="/static/public/assets/img/apple-touch-icon.png" rel="apple-touch-icon">-->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/public/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/static/public/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/static/public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/public/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/public/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/static/public/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/static/public/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Vanila Datepicker -->
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/css/datepicker.min.css">

    <!-- notie Alert -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
    
    <!-- SweetAlert-->
    <link rel="stylesheet" href="@sweetalert2/themes/dark/dark.css">
    

   
    
    <!-- Template Main CSS File -->
    <link href="/static/public/assets/css/style.css" rel="stylesheet">

     <!-- TBase CSS File -->
    <link href="/static/css/style.css" rel="stylesheet">

    <style>
    .notie-container {
  opacity: 1 !important;
  box-shadow: none;
}

.notie-background-success {
  opacity: 1 !important;
  background-color: #128312;
  z-index: 999 !important; }

.notie-background-warning {
  opacity: 1 !important;
  background-color: #b9780f;
  z-index: 999 !important; }

.notie-background-error {
  opacity: 1 !important;
  background-color: #8f1d06;
  z-index: 999 !important; }

.notie-background-info {
  background-color: #093172; }

.notie-background-neutral {
  background-color: #838282; }

.notie-background-overlay {
  background-color: #FFFFFF; }
  </style>
    
    {{block "css" .}}

    {{end}}
    
  
  </head>
 <body>

    <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-center justify-content-md-between">

      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-phone d-flex align-items-center"><span>+381 11 347 2 565</span></i>
        <i class="bi bi-clock d-flex align-items-center ms-4"><span> Mon-Sat: 00AM - 24PM</span></i>
      </div>

      <div class="languages d-none d-md-flex align-items-center">
        <ul>
          <li>En</li>
          <li><a href="#">Sr</a></li>
        </ul>
      </div>
    </div>
  </div>

    <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

    <h1 class="logo me-auto me-lg-0"><a href="/">Sarto</a></h1>
    <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="/static/public/assets/img/HotelSarto0c0b09.png" alt="" class="img-fluid"></a>-->

          <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
          <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
          <li class="nav-item"><a class="nav-link" href="/rooms">Rooms</a></li>
          <li class="nav-item"><a class="nav-link" href="/search-availability">Book Now</a></li>
          <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li> 
          <li class="nav-item">
            {{if eq .IsAuthenticated 1}}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Admin
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="/admin/dashboard">Dashboard</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/user/logout">Logout</a>
                </li>
              </ul>
            </li>
            {{else}}
              <a class="nav-link" href="/user/login">Login</a>
            {{end}}
            </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
     

    </div>
  </header><!-- End Header -->

  

        {{block "content" .}}

        {{end}}

  
  

    <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Hotel Villa Sarto</h3>
              <p>
                Smederevski put 25b <br>
                11130 BELGRADE, SERBIA<br><br>
                <strong>Phone:</strong> +381 11 347 2 565<br>
                <strong>Mob/Viber:</strong> +381 65 477 0 774<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">

          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/rooms">Rooms</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/search-availability">Book now</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/contact">Contact</a></li>
            </ul>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Hotel Villa Sarto</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="/">TDIspaces</a>
      </div>
    </div>
  </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <!-- Vendor JS Files -->
    
    <script src="/static/public/assets/vendor/aos/aos.js"></script>
    <script src="/static/public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/public/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/static/public/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/static/public/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <!-- <script src="/static/public/assets/vendor/php-email-form/validate.js"></script> -->

    
   
   <!-- Vanila Datepicker -->
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker-full.min.js"></script>

    <!-- Notie -->
    <script src="https://unpkg.com/notie"></script>

    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- <script src="sweetalert2/dist/sweetalert2.min.js"></script>-->

    <!-- Template Main JS File -->
    <script src="/static/public/assets/js/main.js"></script>

    <!-- Basic JS File -->
    <script src="/static/js/app.js"></script>

    {{block "js" .}}

    {{end}}


   <script>

  let attention = Prompt();
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})();

 

function notify(msg, msgType){
  notie.alert({
  type: msgType, // optional, default = 4, enum: [1, 2, 3, 4, 5, 'success', 'warning', 'error', 'info', 'neutral']
  text: msg,
})
}

function notifyModal(title, text ,icon, confirmationButtonText){
        Swal.fire({
            title: title,
            html: text,
            icon: icon,
            confirmButtonText: confirmationButtonText
        })
    }

{{with .Error}}
notify("{{.}}","error")
{{end}}

{{with .Flash}}
notify("{{.}}","success")
{{end}}

{{with .Warning}}
notify("{{.}}","warning")
{{end}}

  </script>

    
  </body>
</html>

{{end}}