{{template "base" .}}

{{define "content"}}
<!-- ======= Hero Section ======= -->
  <section id="" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
        </div>

      </div>
    </div>
  </section><!-- End Hero -->
  <!-- ======= Choose Section ======= -->
    <section id="choose" class="choose section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <p>Available Rooms</p>
        </div>
        {{$rooms := index .Data "rooms"}}
        {{range $rooms}}
        <div class="row choose-container" data-aos="fade-up" data-aos-delay="200">      
          <div class="col-lg-6 choose-item">
            <img src="/static/images/{{.RoomPictureFolder}}/1.jpg" class="room-img" alt="">
            <div class="choose-content">
              <a href="/room_details/{{.ID}}">{{.RoomNameEn}}</a><span>Price: {{.RoomPriceEn}}  €</span>            
            </div>
            <div class="choose-ingredients">
              Number of guests: {{.RoomGuestNumber}}
            </div>
          </div>
          <div class="col-lg-6 choose-item">
            <div class="btns">
                <a href="/choose-room/{{.ID}}" class="btn-menu animated fadeInUp scrollto">Book now</a>
            </div>
          </div>
        </div>
        {{end}}
      </div>
    </section><!-- End Choose Section -->
{{end}}