{{template "base" .}}

{{define "content"}}
    <div class="container container-fluid">
        <div class="row">
            <div class="col">
                <h1>Choose a Room</h1>             
                <div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col"></th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                    {{$rooms := index .Data "rooms"}}
                    {{range $rooms}}
                    
                        <tr>
                            <td><img src="/static/images/{{.RoomPictureFolder}}/1.jpg" class="img-fluid mt-3"></td>
                            <td align="left"><strong>{{.RoomNameEn}}</strong><br>{{.RoomShortDescEn}}
                            
                            <span class="d-none d-md-inline-block"><hr>{{.RoomDescEn}}</span>
                            <br><br>
                            <span class="d-none d-md-inline-block"><strong>Number of guests: {{.RoomGuestNumber}}</strong></span><br>
                            <span class="d-none d-md-inline-block"><strong>Price: {{.RoomPriceEn}}  €</strong></span>
                            </td>
                            <td class="text-right  mt-3">
                            <a href="/choose-room/{{.ID}}" class="btn btn-primary btn-custom">Book now</a>
                            <br><br>
                            <a href="/room_details/{{.ID}}" class="btn btn-outline-secondary btn-custom">More Detailes</a>
                             </td>
                        </tr>
                    {{end}}   
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

            </div>
        </div>
    </div>
{{end}}