{{template "base" .}}

{{define "content"}}
    <div class="row featurette" style="padding: 3%">
        <div class="col-md-5" align="left" style="padding: 0 5% 5% 5%">
            <h1>Contact Us </h1>
            <hr>
            <p>Smederevski put 25b<br>
                11130 BELGRADE<br>
                SRBIJA</p>
                <p>Primary phone for English: +381 69 1991307<br>
                Phone: +381113472565<br>
                Mob/Viber: +381 65 477 0 774</p>
        </div>
         <div class="col-md-5" align="center">          
            <div class="mapouter"><div class="gmap_canvas"><iframe src="https://maps.google.com/maps?q=serbia%20belgrade%20%20Smederevski%20Put%2025a&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no" style="width: 550px; height: 550px;"></iframe><style>.mapouter{position:relative;height:550px;width:550px;background:#fff;} .maprouter a{color:#fff !important;position:absolute !important;top:0 !important;z-index:0 !important;}</style><a href="https://blooketjoin.org">blooket join</a><style>.gmap_canvas{overflow:hidden;height:550px;width:550px}.gmap_canvas iframe{position:relative;z-index:2}</style></div></div>
            <br>
            <small><a style="color: #0000ff; text-align: left;" href="http://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=44.771757,20.555777&amp;daddr=&amp;hl=en&amp;geocode=&amp;sll=44.771679,20.555905&amp;sspn=0.001053,0.002642&amp;vpsrc=6&amp;mra=mift&amp;mrsp=0&amp;sz=19&amp;ie=UTF8&amp;t=h&amp;ll=44.787683,20.482635&amp;spn=0.170565,0.291824&amp;z=11">View Larger Map</a></small></p>
          
        </div>
    </div>
{{end}}