{{template "base" .}}

{{define "content"}}

 <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1>Welcome to <span>Hotel Villa Sarto</span></h1>
          <h2>…where guests always return!</h2>

          <div class="btns">
            <a href="/search-availability" class="btn-menu animated fadeInUp scrollto">Make Reservation now</a>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

 <main id="main">
     
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Why Us</h2>
          <p>Why Choose Hotel Villa Sarto</p>
        </div>

        <div class="row">

          <div class="col-lg-4 content">
          <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <span>Rooms</span>
            <br>
            <ul>
              <li><i class="bi bi-check-circle"></i> Single 25 €</li>
              <li><i class="bi bi-check-circle"></i> Twin 30 €</li>
              <li><i class="bi bi-check-circle"></i> Triple 35 €</li>
              <li><i class="bi bi-check-circle"></i> Daytime Nap (12-18h) 15 €</li>
            </ul>
            
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0 content">
            <div class="box" data-aos="zoom-in" data-aos-delay="200">
              <span>Distance From</span>
            <br>
            <ul>
              <li><i class="bi bi-check-circle"></i> Airport 20min</li>
              <li><i class="bi bi-check-circle"></i> City centre 15min</li>
              <li><i class="bi bi-check-circle"></i> Belgrade Fair 10min</li>
            </ul>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0 content">
            <div class="box" data-aos="zoom-in" data-aos-delay="300">
              <span>Entertainment</span>
            <br>
            <ul>
              <li><i class="bi bi-check-circle"></i> Caffee Bar</li>
              <li><i class="bi bi-check-circle"></i> Slot Bar</li>
            </ul>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Events Section ======= -->
    <section id="events" class="events">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Events</h2>
          <p>Organize Your Events in our Restaurant</p>
        </div>

        <div class="events-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="row event-item">
                <div class="col-lg-6">
                  <img src="/static/images/birthdayCake.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Birthday Parties</h3>
                  <div class="price">
                    <p><span>$150</span></p>
                  </div>
                  <p class="fst-italic">
                    We organize birthday parties to suit you
                  </p>
                  <ul>
                    <li><i class="bi bi-check-circled"></i> </li>
                    <li><i class="bi bi-check-circled"></i> </li>
                    <li><i class="bi bi-check-circled"></i> </li>
                  </ul>
                  <p>
                    
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="row event-item">
                <div class="col-lg-6">
                  <img src="/static//images/poc3.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Private Parties</h3>
                  <div class="price">
                    <p><span>$100</span></p>
                  </div>
                  <p class="fst-italic">
                    
                  </p>
                  <ul>
                    <li><i class="bi bi-check-circled"></i> </li>
                    <li><i class="bi bi-check-circled"></i> </li>
                    <li><i class="bi bi-check-circled"></i> </li>
                  </ul>
                  <p>
                    
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->
            <div class="swiper-slide">
              <div class="row event-item">
                <div class="col-lg-6">
                  <img src="/static/public/assets/img/event-custom.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Custom Parties</h3>
                  <div class="price">
                    <p><span>$99</span></p>
                  </div>
                  <p class="fst-italic">
                    
                  </p>
                  <ul>
                    <li><i class="bi bi-check-circled"></i> </li>
                    <li><i class="bi bi-check-circled"></i> </li>
                    <li><i class="bi bi-check-circled"></i> </li>
                  </ul>
                  <p>
                    
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Events Section -->

    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Menu</h2>
          <p>Check Our Tasty Menu</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-starters">Starters</li>
              <li data-filter=".filter-salads">Salads</li>
              <li data-filter=".filter-specialty">Specialty</li>
            </ul>
          </div>
        </div>

        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-6 menu-item filter-starters">
            <img src="/static/public/assets/img/menu/lobster-bisque.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Lobster Bisque</a><span>$5.95</span>
            </div>
            <div class="menu-ingredients">
              Lorem, deren, trataro, filede, nerada
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-specialty">
            <img src="/static/public/assets/img/menu/bread-barrel.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Bread Barrel</a><span>$6.95</span>
            </div>
            <div class="menu-ingredients">
              Lorem, deren, trataro, filede, nerada
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-starters">
            <img src="/static/public/assets/img/menu/cake.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Crab Cake</a><span>$7.95</span>
            </div>
            <div class="menu-ingredients">
              A delicate crab cake served on a toasted roll with lettuce and tartar sauce
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-salads">
            <img src="/static/public/assets/img/menu/caesar.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Caesar Selections</a><span>$8.95</span>
            </div>
            <div class="menu-ingredients">
              Lorem, deren, trataro, filede, nerada
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-specialty">
            <img src="/static/public/assets/img/menu/tuscan-grilled.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Tuscan Grilled</a><span>$9.95</span>
            </div>
            <div class="menu-ingredients">
              Grilled chicken with provolone, artichoke hearts, and roasted red pesto
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-starters">
            <img src="/static/public/assets/img/menu/mozzarella.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Mozzarella Stick</a><span>$4.95</span>
            </div>
            <div class="menu-ingredients">
              Lorem, deren, trataro, filede, nerada
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-salads">
            <img src="/static/public/assets/img/menu/greek-salad.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Greek Salad</a><span>$9.95</span>
            </div>
            <div class="menu-ingredients">
              Fresh spinach, crisp romaine, tomatoes, and Greek olives
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-salads">
            <img src="/static/public/assets/img/menu/spinach-salad.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Spinach Salad</a><span>$9.95</span>
            </div>
            <div class="menu-ingredients">
              Fresh spinach with mushrooms, hard boiled egg, and warm bacon vinaigrette
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-specialty">
            <img src="/static/public/assets/img/menu/lobster-roll.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Lobster Roll</a><span>$12.95</span>
            </div>
            <div class="menu-ingredients">
              Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Menu Section -->

{{end}}

