{{template "base" .}}

{{define "content"}}
<!-- ======= Hero Section ======= -->
  <section id="hero_login" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
    <!-- ======= Make a Reservation Section ======= -->
    <section id="reservation" class="reservation">
      <div class="row justify-content-center align-items-center">
                <!-- ======= Form Begin ======= -->
            <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                
            {{$res := index .Data "reservation"}}
                <h1 class="mt-5">Request Summary</h1>
                <h2 class="mt-5">Your request has been received. In the next 24 hours, someone will contact you to confirm the reservation</h1>
                <hr>
                <table>
                    <thead></thead>
                    <tbody>
                        <tr>
                            <td>Name:</td>
                            <td>{{$res.FirstName}} {{$res.LastName}}</td>
                        </tr>
                        <tr>
                            <td>Room:</td>
                            <td>{{$res.Room.RoomNameEn}}</td>
                        </tr>
                        <tr>
                            <td>Arrival:</td>
                            <td>{{index .StringMap "start_date"}}</td>
                        </tr>
                        <tr>
                            <td>Departure:</td>
                            <td>{{index .StringMap "end_date"}}</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>{{$res.Email}}</td>
                        </tr>
                        <tr>
                            <td>Phone:</td>
                            <td>{{$res.Phone}}</td>
                        </tr>
                </table>
                <br>
                <br>

            </div>
     </div>
	
                <!-- ======= Form End ======= -->
        </div>
        </section><!-- End Reservation Section -->
    </div>
    
  </section><!-- End Hero -->	
{{end}}