{{template "base" .}}

{{define "content"}}
    {{$rm := index .Data "room"}}
<div class="container container-fluid">
	<div class="row">
            <div class="col">
            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/images/{{$rm.RoomPictureFolder}}/1.jpg" class="d-block w-100" alt="...">
        
        <div class="container">
          <div class="carousel-caption text-start">
            <h1></h1>
            <p></p>
            
          </div>
        </div>
        </div>
      <div class="carousel-item">
        <img src="/static/images/{{$rm.RoomPictureFolder}}/2.jpg" class="d-block w-100" alt="...">

         <div class="container">
          <div class="carousel-caption">
            <h1></h1>
            <p></p>
            
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/images/{{$rm.RoomPictureFolder}}/3.jpg" class="d-block w-100" alt="...">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1></h1>
            <p></p>
            
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/images/{{$rm.RoomPictureFolder}}/4.jpg" class="d-block w-100" alt="...">

        <div class="container">
          <div class="carousel-caption text-end">
            <h1></h1>
            <p></p>
            
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

            
        </div>
   <div class="row">
            <div class="col">
                <h1 class="text-center mt-5">{{$rm.RoomNameEn}}</h1>
                <p>
                    <br>{{$rm.RoomShortDescEn}}
                    <hr>
                    {{$rm.RoomDescEn}}
                </p>
            </div>
     </div>
	 <div class="row">
            <div class="col text-center">
				<a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>
				
            </div>
    </div>
		
</div>	
{{end}}
{{define "js"}}
{{$rm := index .Data "room"}}
<script>
    document.getElementById("check-availability-button").addEventListener("click", function () {
        let html = `
        <form id="check-availability-form" action="" method="post" novalidate class="needs-validation search-form">
            <div class="row">
                <div class="col">
                    <div class="row" id="reservation-dates-modal">
                        <div class="col d-line p-4 shadow-none">
                            <input disabled required class="form-control" type="text" name="start" id="start" placeholder="Arrival date">
                        </div>
                        <div class="col d-line p-4 shadow-none">
                            <input disabled required class="form-control" type="text" name="end" id="end" placeholder="Departure">
                        </div>

                    </div>
                </div>
            </div>
        </form>
        `;
        attention.custom({
            title: 'Choose your dates',
            msg: html,
            willOpen: () => {
                const elem = document.getElementById('reservation-dates-modal');
                const rangepicker = new DateRangePicker(elem, {
                format:"dd.mm.yyyy",
                showOnFocus: true,
                orientation: 'auto top',
                minDate: new Date(),           
                })
            },
            didOpen: () => {
                    document.getElementsByClassName(
                                'swal2-actions'
                            )[0].style.zIndex = '0';
                    document.getElementById('start').removeAttribute('disabled');
                    document.getElementById('end').removeAttribute('disabled');
            },
            callback: function(result){
                console.log("called");

                let form = document.getElementById("check-availability-form");
                let formData = new FormData(form);
                formData.append("csrf_token", "{{.CSRFToken}}");
                formData.append("room_id", {{$rm.ID}});

                fetch('/search-availability-json', {
                    method: "post",
                    body: formData,
                })
                .then(response => response.json())
                .then(data => {
                    if (data.ok){
                        attention.custom({
                        icon: 'success',
                        showConfirmButton: false,
                        msg: '<p>Room is available!</p>'
                            + '<p><a href="/book-room?id='
                            + data.room_id
                            + '&s='
                            + data.start_date
                            + '&e='
                            + data.end_date
                            + '" class="btn btn-primary">'
                            + 'Book now!</a></p>',
                        })
                    } else {
                        attention.error({
                            msg: "No availability",
                        })
                    }
                })
                }
        });
    })
</script>
{{end}}
