{{template "base" .}}

{{define "content"}}
 <!-- ======= Hero Section ======= -->
  <section id="" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

    <main id="main">

    <!-- ======= Chefs Section ======= -->
    {{$rooms := index .Data "rooms"}}
    <section id="chefs" class="chefs chefs_section">
      <div class="container" data-aos="fade-up">
       <div class="section-title">
        <br>
          <p>Choose a Room</p>
        </div>

        <div class="row">

        {{range $rooms}}
        {{if and (gt .ID 0) (lt .ID 4)}}
          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
            <a href="/room_details/{{.ID}}">
              <img src=.{{.RoomPictureFolder}} class="img-fluid" alt="">
            </a>
              <div class="member-info">
                <div class="member-info-content">
                <a href="/room_details/{{.ID}}">
                  <h4>{{.RoomNameEn}}</h4>
                </a>
                <a href="/room_details/{{.ID}}">
                  <span>Number of guests: {{.RoomGuestNumber}}</span>
                </a>
                <a href="/room_details/{{.ID}}">
                  <span>Price: {{.RoomPriceEn}}  €</span>
                </a>
                </div>
              </div>
            </div> 
          </div>
        

         {{end}}
        {{end}}
        </div>

        <div class="row">

        {{range $rooms}}
        {{if and (gt .ID 3) (lt .ID 6)}}
          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
            <a href="/room_details/{{.ID}}">
              <img src=.{{.RoomPictureFolder}} class="img-fluid room-img" alt="">
               </a>
              <div class="member-info">
                <div class="member-info-content">
                <a href="/room_details/{{.ID}}">
                  <h4>{{.RoomNameEn}}</h4>
                </a>
                <a href="/room_details/{{.ID}}">
                  <span>Number of guests: {{.RoomGuestNumber}}</span>
                </a>
                <a href="/room_details/{{.ID}}">  
                  <span>Price: {{.RoomPriceEn}}  €</span>
                </a>  
                </div>
              </div>
            </div> 
          </div>
        

         {{end}}
        {{end}}
        </div>
     
      </div>
    </section><!-- End Chefs Section -->

  
  </main><!-- End #main -->

{{end}}
