{{template "base" .}}

{{define "content"}}
   <div class="container mb-4 container-fluid">
   <h1>Choose a Room</h1>
    <div class="row">  
        <div class="col-12">
            <div class="table-responsive-sm">
                <table class="table table-striped section-rooms">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col"></th>
                            
                        </tr>
                    </thead>
                    <tbody>
                    {{$rooms := index .Data "rooms"}}
                    {{range $rooms}}
                    
                        <tr>
                            <td>
                               <a href="/room_details/{{.ID}}">
                                <img src=.{{.RoomPictureFolder}} class="img-fluid mt-3">
                               </a> 
                            </td>

                            <td align="left"><strong>
                                <a href="/room_details/{{.ID}}">{{.RoomNameEn}}</a></strong><br>{{.RoomShortDescEn}}
                            
                            <span class="d-none d-md-inline-block"><hr>{{.RoomDescEn}}</span>
                            <br><br>
                            <span class="d-none d-md-inline-block"><strong>Number of guests: {{.RoomGuestNumber}}</strong></span><br>
                            <span class="d-none d-md-inline-block"><strong>Price: {{.RoomPriceEn}}  €</strong></span>
                            </td>
                            
                        </tr>
                    {{end}}   
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{end}}
